.App {
    text-align: left;
  }
  
  .App-logo {
    height: 120px;
    width: 80%;
    display: block;
    
  }
  
  .App-header {
    background-color: rgb(255, 255, 255);
    height: 140px;
    padding: 5px;
    color: rgb(190, 16, 16);
    image-rendering: optimizeQuality;
    justify-content: center;
    align-items: center;
    display: inline-flex;
  }
  
  .App-title {
    font-size: 1.5em;
  }
  
  .App-intro {
    font-size: large;
  }
  
  .App-separator {
    background-color: rgb(209, 25, 12);
  }
  
  .Stepper-background {
    background-color: rgb(255, 255, 255);
  }
  
  .blue-background {
    background-color: rgb(26, 79, 177);
  }
  
  .PSB-header {
    background-color: rgb(255, 255, 255);
    height: 100px;
    padding: 10px;
    color: rgb(190, 16, 16);
    align-items: flex-start;
    display: block;
  }
  
  .body {
    margin-top: 10px;
  }
  
  .footer-wrap2 .footer .member {
      display: block;
      margin-bottom: 10px;
      text-align: right;
  }
  user agent stylesheet
  div {
      display: block;
  }
  .footer-wrap2 .member {
      clear: none;
      float: left;
      margin-left: 0;
      margin-top: 5px;
      width: 100%;
      text-align: right;
      height: 80px;
      color: #737373;
  }
  
  .clock {
    clear: none;
    float: right;
    margin-left: 0;
    margin-top: 5px;
    text-align: right;
    color: #737373;
  }
  
  .clockold {
    clear: none;
    float: right;
    margin-left: 0;
    margin-top: 5px;
    text-align: right;
    height: 80px;
    color: #737373;
  }
  
  .ClientDetailsColor {
    color: #afadad;
  }
  
  
  .PanewithBorder {
    border: "default";
    border-color: #737373;
  }
  
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  
  
  
  