body {
  background-color: white;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.scontainer {
  width: 100%;
  height: 100%;
  top: 10%;
  left: 10%;
}

.sigContainer {
  border: 2px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  border: 3px solid black;
  background-color: gray;
}

.trimContainer {
  border: 2px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  border: 3px solid black;
  background-color: white;
}
.sigPad {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  background-color: white;
  border-color:  #2956a0;
  border: 2px;
}

.buttons {
  width: 100%;
  height: 30px;
}

.sigImage {
  background-size: 200px 50px;
  width: 200px;
  height: 50px;
  background-color: white;
}
