/*
 * Some best-practice CSS that's useful for most apps
 * Just remove them if they're not what you want
*/

html {
  box-sizing: border-box;
}

html,
bodyCamera {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: white;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
